.main-visual{
  background-image: url("/src/image_main.png");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px 30px;
  min-height: 300px;
}

.main-visual h2 {
  margin: 30px 0;
}
.main-visual button{
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: red;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.main-visual button:hover{
  color: red;
  background: white;
  transition: all 0.5s;
  transform: scale(1.05);
}